

#firstpage p{

	
	font-size: 1.7em;
    font-family: 'Philosopher', sans-serif;
	margin-left: 8%;
	

}

#img1{
	
	height: 20em;
	
	background-image: url(logo.png);
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	
}


#img2{
	
	height: 20em;
	
	background-image: url(4.png);
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;

}

#img3{
	
	height: 20em;
	background-image: url(1.png);
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;

}


#content{
	background-image: url(fon.jpg);
	background-position:center;
	background-size:cover;
}

#header_dialog p{
	font-size: 1em;
	margin-left: 15%;
}

#content_dialog p{
	margin-left: 10%;
}



#myCanvas{
	height: 20em;
	margin-left: 15%;
}
